@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
}

h4 {
  font-weight: 900;
}

p {
  color: var(--desaturated-blue);
  font-size: 1rem;
}

button {
  font-family: inherit;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

/* .container {
  height: 100vh;
} */

.card {
  text-align: center;
  background-color: var(--very-pale-blue);
  max-width: 375px;
  border-radius: 20px;
}

.card h2 {
  font-weight: 900;
}

.description {
  color: var(--desaturated-blue);
  max-width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.plan {
  background-color: var(--pale-blue);
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-change {
  background: transparent;
  color: var(--bright-blue);
  text-decoration: underline;
}

.btn-change:hover {
  opacity: 80%;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-payment {
  color: var(--very-pale-blue);
  background-color: var(--bright-blue);
  width: 80%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-payment:hover {
  opacity: 80%;
}

.btn-cancel {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: var(--desaturated-blue);
}

.btn-cancel:hover {
  color: var(--dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* -------- media query -------- */

@media (max-width: 375px) {
  .card {
    background-color: aqua;
  }
}
