@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-color: var(--pale-blue);
  min-height: 100vh;
}

main {
  max-width: 375px;
}

.card {
  background-color: var(--very-pale-blue);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 15px;
}

.card img {
  /* width: 100%; */
}

.card h2 {
  font-weight: 900;
  color: var(--dark-blue);
  margin-top: 15px;
}

.card p {
  color: var(--desaturated-blue);
  margin-top: 15px;
}

.plan {
  background-color: var(--pale-blue);
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  border-radius: 15px;
}

.plan button {
  color: var(--bright-blue);
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}

.buttons {
  font-size: 15px;
  font-weight: 700;
  margin-top: 25px;
}

.btn-payment {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  padding: 15px;
  border-radius: 15px;
  
}

.btn-cancel {
  background-color: transparent;
  color: var(--desaturated-blue);
  font-size: 15px;
}

.attribution {
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
